<div>
	<h1>Contact info</h1>
	<div>First name: <%= @contact&.first_name %></div>
	<div>Last name: <%= @contact&.last_name %></div>
	<div>Email: <%= @contact&.email %></div>
	<div>Phone number: <%= @contact&.phone_number %></div>
	<div>Message: <%= @contact&.message %></div>
</div>
