<!DOCTYPE html>
<html>
  <head>
    <title>AppName</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script type="text/javascript">
      <%  if notice.present?%>
      var message = "<%= notice %>";
      sweetAlert(message);
      <% end %>
      <%  if alert.present?%>
      var message = "<%= alert %>";
      sweetAlert(message);
      
      <% end %>
    </script>
    <%= yield %>
  </body>
</html>
